name: Agro Risk Engine CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  quality-check:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v4
    
    - name: Install uv
      uses: astral-sh/setup-uv@v1
      
    - name: Set up Python 3.10
      run: uv python install 3.10
      
    # --- MUDANÇA AQUI ---
    - name: Install Dependencies
      # Instala dependências do pyproject.toml + dependências opcionais de 'dev' (pytest)
      run: uv pip install -e ".[dev]"
      
    - name: Run Unit Tests
      run: uv run pytest